.airdrop__container{
	display: flex;
	gap: 40px;
	color: #fff;
	flex-wrap: wrap;
	
}
.airdrop__items{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: calc((100% / 3) - 30px);
	align-items: center;
	@media screen and (max-width:1023px) {
		width: 100%;
	}
	& h3{
		@include titleH4;
	}
	& .btn{
		max-width: 100%;
		width: 100%;
	}
}
.airdrop__wrapper{
	display: flex;
	flex-direction: row-reverse;
	max-height: 80vh;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
	position: relative;
	width: 100%;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		background-color: #181C27;
			width: 6px;
			display: none;
		}
		
}
.airdrop__items__wrap{
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
	margin-right: 26px;

}



.progress-wrapper {
	position: sticky;
	top: 0;
	right: 0;
	width: 6px; 
	height: 100%;
	z-index: 1; 
	border-radius: 500px;
	.short &{
		display: none;
	}
}

.progress {
	background-color: $--dark-theme-blue; 
	width: 100%;
	height: 100%;
	border-radius: 500px;
	position: absolute;
	top: 0;
	right: 2px;
	z-index: 1;
	border-radius: 500px;
}

.progress-bar {
	border-radius: 500px;
	position: sticky; 
	top: 0;
	right: 0;
	width: 6px; 
	height: 100%; 
	background: $--silver; 
	border-radius: 500px;
	transform-origin: top;
	transform: scaleY(0); 
	transition: transform 0.2s linear;
	z-index: 2; 
}
.airdrop__item{
	padding: 30px;
	position: relative;
	max-height: fit-content;
	height: 100%;
	width: 100%;
	border-radius: 20px;
	background: var(--dark-theme-blue-2, #181C27);
}
.airdrop__item_top{
	display: flex;
	gap: 20px;
	align-items: flex-start;
	padding-bottom: 20px;
	border-bottom:1px solid #252938 ;
	
}
.airdrop-cat{
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px 15px;
	border-radius: 0px 20px 0px 0px;
	@include p6;
	&.green{
		background-color: $--green;
	}
	&.red{
		background-color: $--red;
	}

}
.airdrop__item_top-name{
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.airdrop__item_top-icon{
	max-width: 75px;
	max-height: 75px;
	width: 100%;
	height: 100%;
	aspect-ratio: 1;
	
	& img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.airdrop-name{
	@include titleH4;
}
.airdrop__socials{
	display: flex;
	gap: 5px;
	align-items: center;
	flex-wrap: wrap;
}

.airdrop__bottom{
	margin-top: 20px;
	display: flex;
	gap: 25px;
	& span{
		text-wrap: balance;
		@include p5;
		text-align: center;
	}
}
