.curren__container{
	& .btn{
		margin: 0 auto;
		width: 100%;
		max-width: 190px;
		@media screen and (max-width:767px) {
			max-width: 100%;
		}
	}
}
.curren__title{
text-align: center;
margin: 0 auto;
margin-bottom: 60px;
max-width: 700px;
	& h2{
		@include titleH2;
	}
}

.curren__table-wrap{
	margin-bottom: 60px;
	& table{
		max-width: 100%;
    width: 100%;
    border-collapse: separate;
		border-spacing: 0 3px;
		border-radius: 10px;
		overflow: hidden;
		background: linear-gradient(90deg, #D2B143 0%, #FFE9A0 100%);
		@media screen and (max-width:767px) {
			margin-bottom: 50px;
		}
		& td,
		& th{
			padding: 20px 40px;
			white-space: nowrap;
			font-size: 18px;
			font-style: normal;
			font-weight: 500;
			line-height: 125%;
		
			&:not(:nth-of-type(1)){
				text-align: center;
				
			}
			&:nth-of-type(1){
				width: 49%;
				display: flex;
				& span{
					&:nth-of-type(1){
						margin-right: 30px;
					}
				}
				& img{
					max-width: 28px;
					aspect-ratio: 1;
					margin-right: 8px;
				}
			}
			&:nth-of-type(2){
				width: 18%;
			}
			&:nth-of-type(3){
				width: 3%;
				& span{
					padding: 4px 10px;
					background: #003C29;
					color: $--green;
					border-radius: 5px;
				}
			}
			&:nth-of-type(4){
				width: 22%;
			}
		}
		& tr:nth-of-type(1){
			background: $--blue;
			color: $--dark-theme-blue;
			& th:nth-of-type(3){
				& span{
					background-color: transparent;
				color: $--dark-theme-blue;
				}
			}
		}
		
			& tr{
				background: $--dark-theme-blue;
				&:last-child td:first-child{
					border-bottom-left-radius: 10px;
				}
				&:last-child td:last-child{
					border-bottom-right-radius: 10px;
				}
				&:first-child th:first-child{
					border-top-left-radius: 10px;
				}
				&:first-child th:last-child{
					border-top-right-radius: 10px;
				}
			
			}
		
		
		
	}

}


