header{
	position: fixed;
	top: 0;
	left: 0;
	height: auto;
	width: 100%;
	z-index: 50;
}
.header__top-animation{
	display: flex;
	gap: 30px;
	color: $--white;
	overflow: hidden;
	padding: 10px 0;
	border-bottom: 1px solid $--dark-blue;
	background-color: $--dark-theme-background;
	position: relative;
	user-select: none;
}
@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 20px));
  }
}
.header__top-content,
.header__top-content-second{

		display: flex;
		flex-direction: row;
		column-gap: 37px;
		-webkit-box-pack: start;
    -ms-flex-pack: start;
    display: flex;
    justify-content: flex-start;
		animation: slideLeft 65s infinite linear;
}

.header__container-link{
	display: flex;
	min-width: fit-content;
	align-items: center;
	width: 250px;
    white-space: nowrap;
		padding: 10px 20px;
		transition: all 0.1s ease-in-out;
		& img{
			width: 26px;
			height: 26px;
		}
		& span{
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 125%;
			padding: 4px 8px;
			border-radius: 5px;
		
		}
		&.livedown .current {
			background-color: $--red;
		}
		&.liveup .current{
				background-color: $--green;
			}
}
.header__bottom__container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 40px;
	background-color: $--dark-theme-blue-2;
	border-radius: 0px 0px 30px 30px;
	border-right: 1px solid $--dark-blue;
	border-bottom: 1px solid $--dark-blue;
	border-left: 1px solid $--dark-blue;
	padding:20px;
	flex-wrap: wrap;
	position: relative;
	@media screen and (max-width:1023px) {
		min-width: calc(100vw - 15px);
        margin-left: -15px;
        margin-right: -15px;
	}
@media screen and (min-width:1024px) {
	padding: 0 40px;
}
}
.logo{
	min-width: 115px;
	height: 26px;
}
.header__nav{
	position: relative;
	& nav{
		position: relative;
		@media screen and (max-width:1023px) {
			width: 100%;
			padding: 46px 0;
			height: 100%;
		}
	}
	@media screen and (max-width:1023px) {
		position: fixed;
				background-color: $--dark-blue;
				width: 100%;
				height: calc(100vh - 17px);
				top: 17px;
				bottom: 0;
				right: 0;
				left: -100%;
				display: flex;
        flex-direction: column;
				align-items: center;
        justify-content: center;
				padding-top: 115px;
				z-index: -1;
				overflow-y: auto;
				padding-top: 117px;
				.open &{
					left: 0;
				}
	}


 & .menu{
			display: flex;
			align-items: center;
			color: $--white;
			position: relative;
			@media screen and (max-width:1023px) {
				flex-direction: column;
				width: 100%;
				align-items: flex-start;
				padding: 0 20px;
			}
			& li{
				position: relative;
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 5px;
		
				&:not(.sub-menu li){
					@media screen and (max-width:1023px) {
						display: block;
						font-size: 20px;
						font-style: normal;
						font-weight: 700;
						line-height: 120%;
						width: 100%;
						padding: 30px 0;
						align-items: flex-start;
						&:not(:nth-last-of-type(1)){
							border-bottom: 1px solid $--silver;
						}
						&:nth-last-of-type(1){
							padding-top: 40px;
						}
						&.show > .sub-menu{
							display: flex;
              flex-direction: column;
              max-height: 100vh;
             	opacity: 1;
               overflow: visible;
							 visibility: visible;
							 margin-top: 20px;
						}
						&.show:after{
								background: url(../images/vector-blue.svg) center center / contain no-repeat;
								transform: rotate(0deg);
						}
					}
					@media screen and (min-width:1024px) {
						padding: 27px 25px;
					}
				}
				&:has(.sub-menu){
					&.show {
						& > a{
							@include gold-text;
					}
					}
					&:hover{
						& > a{
								@include gold-text;
						}
					}
				}

				& a{
					transition: .3s ease-in-out;
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: 140%; 
					position: relative;
					
					
					&:hover{
						@include gold-text;
					}
				}
				&:has(.sub-menu){
			
					&:hover{
						@media screen and (min-width:1024px) {
							&:after{
								background: url(../images/vector-blue.svg) center center / contain no-repeat;
								transform: rotate(180deg);
							}
						}
					}
					&::after{
						content: '';
						background: url(../images/vector-white.svg) center center / contain no-repeat;
						width: 8px;
						height: 8px;
						transition: .3s ease-in-out;
						transform: rotate(0);
						@media screen and (max-width:1023px) {
							position: absolute;
							right: 10px;
							top: 40px;
							content:'';
							
						}
						
						}
					}
					&:hover,
					&:focus-visible{
						@media screen and (min-width:1024px) {
							& .sub-menu{
								visibility: visible;
								opacity: 1;
								transform: translateY(74px);
							}
						}
				}
				}
				
			
			& .sub-menu{
				display: flex;
				flex-direction: column;
				gap: 10px;
				padding:15px 15px 15px 15px;
				border-radius: 0px 0px 10px 10px;
				border: 1px solid $--dark-blue;
				background: $--dark-theme-blue-2;
				position: absolute;
				top: 0;
				width: 146px;
				transform: translateY(105px);
				height: auto;
				opacity: 0;
				visibility: hidden;
				transition: .5s ease-in-out;
				&:hover{
					visibility: visible;
					opacity: 1;
				}
			
				@media screen and (max-width:1023px) {
					opacity: 0;
					max-height: 0;
					overflow: hidden;            
					transition: all .3s linear;
					overflow: hidden;
					gap: 10px;
					width: 100%;
					padding:  0;
					box-shadow: none;
					position: relative;
					background-color: inherit;
					top: 0;
					transform: translate(0);
				}
			}
		}
		& .switcher{
			@media screen and (min-width:1024px) {
				display: none;
			}
			max-width: calc(100% - 40px);
			width: 100%;
			margin: 0 auto;
			border-radius: 500px;
			background-color: $--dark-blue;
			display: block;
			
			& img{
				border-radius: inherit;
				width: 100%;
				max-height: 43px;
			}
		}
	}
.switcher{
	display: none;
	@media screen and (min-width:1024px) {
		max-width: 103px;
	border-radius: 500px;
	background-color: $--dark-blue;
	display: block;
	
	& img{
		border-radius: inherit;
	}
	}
	
}

.burgerBtn{
	display: none;
	@media screen and (max-width:1023px) {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 40px;
		height: 40px;
		padding: 14px 10px;
		background: $--blue;
		border-radius: 5px;

		& span{
			width: 20px;
			height: 3px;
			background-color: $--dark-theme-background;
			border-radius: 500px;
			transition: .3s ease-in-out;
			cursor: pointer;
			opacity: 1;
			.open &{
				&:nth-of-type(1){
					transform: rotate(360deg) rotate(45deg) translate(3px, 4px)  scale(1.07);
				}
			
				&:nth-of-type(2){
					transform:rotate(360deg) rotate(-45deg) translate(2px, -3px)  scale(1.07);
				}
			}
		}
	}
}


