@font-face {
	font-family: 'Red Hat Display';
	src: url(../fonts/RedHatDisplay-Regular.ttf);
	font-weight: 400;
}
@font-face {
	font-family: 'Red Hat Display';
	src: url(../fonts/RedHatDisplay-Medium.ttf);
	font-weight: 500;
}
@font-face {
	font-family: 'Red Hat Display';
	src: url(../fonts/RedHatDisplay-Bold.ttf);
	font-weight: 700;
}
@font-face {
	font-family: 'Red Hat Display';
	src: url(../fonts/RedHatDisplay-Black.ttf);
	font-weight: 900;
}


$--dark-theme-background: #141721;
$--dark-theme-blue-2: #181C27;
$--white: #FFF;
$--green:#00B27C;
$--dark-blue:#252938;
$--dark-theme-blue:#1E222F;
$--blue: linear-gradient(90deg, #D2B143 0%, #FFE9A0 100%);
$--silver: #D1D1D2;
$--silver-2: #D7DBE4;
$--black: #2C2F36;
$--red: #BE4D45;
$--dark-red:#3E2220;
$--gold: #D2B143;
$--light-gold: #ffdd6e;

 html.open{
	overflow: hidden;
}
body{
	font-family: 'Red Hat Display';
	background-color: $--dark-theme-background;
	color: $--white;
}
main{
	margin-top: 170px;
}
.container{
	max-width: 1330px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}
.btn{
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 500px;
	color: $--black;
	border: 1px solid $--dark-blue;
	background: #E5E7EF;
	padding: 13px 38px;
	border: 1px solid transparent;
	cursor: pointer;
	position: relative;
	transition: .3s linear;

}
.gold-btn{
	background: linear-gradient(90deg, #D2B143 0%, #FFE9A0 100%);
	color: #141721;
}

section,
footer{
	position: relative;
	z-index: 1;
}
.mb-m{
	margin-bottom: 140px;
	@media screen and  (max-width:1023px) {
		margin-bottom: 100px;
	}

}
.mb-s{
	margin-bottom: 60px;
}

.breadcrumbs__container {
  padding: 25px 0 60px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;

  & a {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    
  }
  & span {
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 140%; 
  }
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  @media screen and (max-width: 1023px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
}
.page-wrap{
	display: flex;
	gap: 20px;
	@media screen and (max-width:767px) {
		flex-direction: column;
	}

}
.main-content{
	width: 77%;
	@media screen and (max-width:767px) {
		width: 100%;
	}
}
.navbar{
	width: 22.5%;
	@media screen and (max-width:767px) {
	display: none;
	}
	& div:not([class]){
		@include titleH4;
		margin-bottom: 20px;
		text-align: center;
	}
	& .btn{
		max-width: 100%;
		width: 100%;
		margin-bottom: 60px;
	}
}
.navbar-news,
.airdrop-list{
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.navbar-news {
	& .news-item-img{
		aspect-ratio: 270 / 160;
		min-height: 160px;
		& img{
			aspect-ratio: inherit;
			min-height: 160px;
		}
	}
	& .news-item-wrap{
padding: 20px 10px;
& div{
	text-align: left;
}
	}

}
.airdrop-list{
	& .airdrop__item{
		padding: 25px 20px;
	}
	& .airdrop__item_top-icon{
		max-width: 40px;
		max-height: 40px;
	}
	& .airdrop__socials a{
		max-width: 28px;
		max-height: 28px;
	}
	& .airdrop__bottom span{
		font-size: 10px;
	}
}
.socials{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 5px;
		& a{
			max-width: 64px;
			max-height: 64px;
			width: 100%;
			height: 100%;
			& svg{
				width: 100%;
				height: 100%;
			}
		}
	}
	.center-title{
		text-align: center;
		padding: 0 20px;
		@include titleH1;
		margin-bottom: 60px;
	}
	.scroll {
		overflow: hidden;
	 overflow-x: auto;
	 }

	 .sticky-name{
		border-top: 2px solid $--dark-blue;
		background: $--dark-theme-blue;
    padding: 15px 0;
   position: relative;
	 display: none;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 49;
		.sticky-body &{
			position: fixed;
			display: flex;
		}
	 }
	 .sticky-name__container{
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		flex-direction: column;
		& .btn{
			max-width: 100%;
			width: 100%;
		}
	 }
	 .sticky__name-top{
		display: flex;
		align-items: center;
		gap: 10px;
	
		& img{
			max-width: 32px;
			max-height: 32px;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			object-fit: cover;
		}
		& span{
			@include titleH4;
		}
	 }