@charset "UTF-8";
/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ul[class],
ol[class] {
  list-style: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

button {
  cursor: pointer;
  border: 1px solid transparent;
}

@font-face {
  font-family: "Red Hat Display";
  src: url(../fonts/RedHatDisplay-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Red Hat Display";
  src: url(../fonts/RedHatDisplay-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Red Hat Display";
  src: url(../fonts/RedHatDisplay-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Red Hat Display";
  src: url(../fonts/RedHatDisplay-Black.ttf);
  font-weight: 900;
}
body {
  font-family: "Red Hat Display";
  background-color: #141721;
  color: #FFF;
}

main {
  margin-top: 40px;
}

.container {
  max-width: 1330px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 500px;
  color: #2C2F36;
  border: 1px solid #252938;
  background: #E5E7EF;
  padding: 13px 38px;
  border: 1px solid transparent;
  cursor: pointer;
  position: relative;
}
.btn span {
  position: relative;
  z-index: 1;
  margin-bottom: 0;
  transition: 0.4s linear;
}
.btn:after {
  content: "";
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background-color: #306CE8;
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: inherit;
  z-index: 0;
  border: 1px solid transparent;
  transition: transform 0.4s linear;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.btn:hover span {
  color: #FFF;
}
.btn:hover::after {
  transform: scaleX(1);
}
.btn:not(:hover):after {
  transform-origin: right;
  transform: scaleX(0);
}

a.btn span {
  margin-bottom: 0;
}

section,
footer {
  position: relative;
  z-index: 1;
}

.mb-m {
  margin-bottom: 140px;
}
@media screen and (max-width: 1023px) {
  .mb-m {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 767px) {
  .mb-m {
    margin-bottom: 70px;
  }
}

.mb-s {
  margin-bottom: 60px;
}

.header__top-animation {
  display: flex;
  gap: 30px;
  color: #FFF;
  overflow: hidden;
  padding: 10px 0;
  border-bottom: 1px solid #252938;
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.header__top-content,
.header__top-content-second {
  display: flex;
  flex-direction: row;
  animation: slideLeft 65s linear infinite;
  -moz-column-gap: 37px;
       column-gap: 37px;
  margin-right: 50px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  display: flex;
  justify-content: flex-start;
}

.header__container-link {
  display: flex;
  min-width: -moz-fit-content;
  min-width: fit-content;
  align-items: center;
  white-space: nowrap;
  padding: 10px 20px;
}
.header__container-link img {
  width: 26px;
  height: 26px;
}
.header__container-link span {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  padding: 4px 8px;
}
.header__container-link span.livedown {
  background-color: #BE4D45;
}
.header__container-link span.liveup {
  background-color: #00B27C;
}

.header__bottom__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  background-color: #181C27;
  border-radius: 0px 0px 30px 30px;
  border-right: 1px solid #252938;
  border-bottom: 1px solid #252938;
  border-left: 1px solid #252938;
  padding: 15px 40px;
  flex-wrap: wrap;
  z-index: 50;
  position: relative;
}

.logo {
  min-width: 115px;
  height: 26px;
}

.header__nav {
  position: relative;
  z-index: 49;
}
.header__nav nav {
  position: relative;
  z-index: 49;
}
@media screen and (max-width: 1023px) {
  .header__nav {
    position: fixed;
    background-color: #181C27;
    width: 100%;
    height: calc(100vh - 137px);
    top: 137px;
    left: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .open .header__nav {
    left: 0;
  }
}

.menu {
  display: flex;
  align-items: center;
  gap: 50px;
  color: #FFF;
  z-index: 49;
  position: relative;
}
@media screen and (max-width: 1023px) {
  .menu {
    flex-direction: column;
    gap: 10px;
  }
}
.menu li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  z-index: 48;
}
@media screen and (max-width: 1023px) {
  .menu li {
    flex-direction: column;
  }
}
.menu li:has(.sub-menu):hover > a {
  color: #306CE8;
}
.menu li a {
  transition: 0.3s ease-in-out;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.menu li a:hover {
  color: #306CE8;
}
.menu li:has(.sub-menu):hover:after {
  background: url(../images/vector-blue.svg) center center/contain no-repeat;
  transform: rotate(180deg);
}
.menu li:has(.sub-menu)::after {
  content: "";
  width: 8px;
  height: 8px;
  background: url(../images/vector-white.svg) center center/contain no-repeat;
  width: 8px;
  height: 8px;
  transition: 0.3s ease-in-out;
  transform: rotate(0);
}
@media screen and (max-width: 1023px) {
  .menu li:has(.sub-menu)::after {
    content: none;
  }
}
.menu li:has(.sub-menu):hover .sub-menu, .menu li:has(.sub-menu):focus-visible .sub-menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(45px);
}
.menu .sub-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 15px 15px 15px;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid #252938;
  background: #181C27;
  position: absolute;
  top: 0;
  width: 146px;
  transform: translateY(65px);
  height: auto;
  opacity: 0;
  visibility: hidden;
  z-index: 48;
  transition: 0.5s ease-in-out;
}
.menu .sub-menu:hover {
  visibility: visible;
  opacity: 1;
}
@media screen and (max-width: 1023px) {
  .menu .sub-menu {
    visibility: visible;
    opacity: 1;
    border: none;
    background-color: inherit;
    position: relative;
    top: normal;
    width: -moz-fit-content;
    width: fit-content;
    transform: translateY(0);
    padding: 0;
    height: auto;
    z-index: 1;
  }
}

.switcher {
  max-width: 103px;
  border-radius: 500px;
  background-color: #252938;
}
.switcher img {
  border-radius: inherit;
}

.burgerBtn {
  display: none;
}
@media screen and (max-width: 1023px) {
  .burgerBtn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 30px;
    padding: 5px;
  }
  .burgerBtn span {
    width: 100%;
    height: 2px;
    background-color: #306CE8;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    opacity: 1;
  }
  .open .burgerBtn span:nth-of-type(1) {
    transform: rotate(360deg) rotate(45deg) translate(6px, 7px) scale(1.05);
  }
  .open .burgerBtn span:nth-of-type(2) {
    opacity: 0;
  }
  .open .burgerBtn span:nth-of-type(3) {
    transform: rotate(360deg) rotate(-45deg) translate(6px, -7px) scale(1.05);
  }
}

.o-page {
  z-index: 2;
}

.o-page__bg {
  z-index: -1;
  position: fixed;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  overflow: hidden;
}

.o-page__bg__hor {
  z-index: 1;
  grid-row-gap: 5rem;
  flex-direction: column;
  display: flex;
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
}

.o-page__bg__vert {
  z-index: 1;
  grid-column-gap: 10rem;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.o-page__bg__hline {
  transform-origin: 0%;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.o-page__bg__hline {
  transform: scaleX(0);
}

.o-page__bg__vline {
  transform-origin: 50% 0%;
  border-left: 1px solid rgba(255, 255, 255, 0.05);
}

.o-page__bg__vline {
  transform: scaleY(0);
}

.airdrop__container {
  display: flex;
  gap: 40px;
  color: #fff;
  flex-wrap: wrap;
}

.airdrop__items {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: calc(33.3333333333% - 30px);
  align-items: center;
}
@media screen and (max-width: 1023px) {
  .airdrop__items {
    width: 100%;
  }
}
.airdrop__items h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.airdrop__items .btn {
  max-width: 100%;
  width: 100%;
}

.airdrop__wrapper {
  display: flex;
  flex-direction: row-reverse;
  max-height: 80vh;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
  width: 100%;
}
.airdrop__wrapper::-webkit-scrollbar {
  background-color: #181C27;
  width: 6px;
  display: none;
}

.airdrop__items__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-right: 26px;
}

.progress-wrapper {
  position: sticky;
  top: 0;
  right: 0;
  width: 6px;
  height: 100%;
  z-index: 1;
  border-radius: 500px;
}
.short .progress-wrapper {
  display: none;
}

.progress {
  background-color: #1E222F;
  width: 100%;
  height: 100%;
  border-radius: 500px;
  position: absolute;
  top: 0;
  right: 2px;
  z-index: 1;
  border-radius: 500px;
}

.progress-bar {
  border-radius: 500px;
  position: sticky;
  top: 0;
  right: 0;
  width: 6px;
  height: 100%;
  background: #D1D1D2;
  border-radius: 500px;
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.2s linear;
  z-index: 2;
}

.airdrop__item {
  padding: 30px;
  position: relative;
  min-height: 206px;
  max-height: -moz-fit-content;
  max-height: fit-content;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background: var(--dark-theme-blue-2, #181C27);
}

.airdrop__item_top {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  padding-bottom: 20px;
  border-bottom: 1px solid #252938;
}

.airdrop-cat {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 15px;
  border-radius: 0px 20px 0px 0px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.airdrop-cat.green {
  background-color: #00B27C;
}
.airdrop-cat.red {
  background-color: #BE4D45;
}

.airdrop__item_top-name {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.airdrop__item_top-icon {
  max-width: 75px;
  max-height: 75px;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
}
.airdrop__item_top-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.airdrop-name {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.airdrop__socials {
  display: flex;
  gap: 5px;
  align-items: center;
  flex-wrap: wrap;
}

.airdrop__bottom {
  margin-top: 20px;
  display: flex;
  gap: 25px;
}
.airdrop__bottom span {
  text-wrap: balance;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
}

.hero__container {
  display: flex;
  border-radius: 18px;
  border: 1px solid #252938;
  background: url(../images/bg.svg) center center/cover no-repeat;
  padding: 0 0px 0 80px;
  gap: 80px;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1100px) {
  .hero__container {
    gap: 40px;
  }
}
@media screen and (max-width: 1023px) {
  .hero__container {
    flex-direction: column;
    padding: 30px;
  }
}

.hero__content {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  padding: 40px 0;
  max-width: 559px;
  width: 100%;
  margin: auto 0;
}
@media screen and (max-width: 1100px) {
  .hero__content {
    max-width: 100%;
  }
}
.hero__content span {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 15px;
}
.hero__content h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 15px;
}
.hero__content p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 10px;
}
.hero__content p:nth-last-of-type(1) {
  margin-bottom: 40px;
}

.hero__image {
  display: flex;
  max-width: 515px;
  width: 100%;
  display: flex;
  max-width: 515px;
  width: 100%;
  height: auto;
  flex-grow: 1;
  aspect-ratio: 515/450;
}
@media screen and (max-width: 1100px) {
  .hero__image {
    max-width: 100%;
  }
}
.hero__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__title {
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
  color: #D7DBE4;
}
.about__title h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 100px 80px 0 80px;
  border-radius: 30px 30px 0px 0px;
  background: linear-gradient(180deg, #181C27 0%, #141721 100%);
}
@media screen and (max-width: 1023px) {
  .about__wrapper {
    flex-direction: column-reverse;
  }
}

.about__image {
  display: flex;
  max-width: 500px;
  width: 100%;
  height: auto;
  align-items: flex-end;
  flex-grow: 1;
}
@media screen and (max-width: 1023px) {
  .about__image {
    max-width: 100%;
  }
}
.about__image img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.about__content {
  padding: 0 0 30px 0;
  flex-grow: 1;
  max-width: 518px;
  width: 100%;
}
@media screen and (max-width: 1023px) {
  .about__content {
    max-width: 100%;
  }
}
.about__content h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* Задайте кількість рядків, які потрібно відображати */
  overflow: hidden;
  text-overflow: ellipsis;
}
.about__content p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 30px;
}
.about__content ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
  padding-left: 0;
}
.about__content ul li {
  position: relative;
  display: flex;
  gap: 5px;
  align-items: center;
}
.about__content ul li::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #306CE8;
  border-radius: 50%;
}

.choose__title {
  text-align: center;
  margin-bottom: 60px;
}
.choose__title h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.choose__content {
  display: flex;
  gap: 20px;
  width: 100%;
}
.choose__content::-webkit-scrollbar {
  background-color: #181C27;
  width: 6px;
  display: none;
}

.choose__items {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: -moz-min-content;
  height: min-content;
}

.choose__item {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  height: -moz-min-content;
  height: min-content;
  overflow: hidden;
}
@media screen and (max-width: 1023px) {
  .choose__item {
    flex-direction: column;
  }
}

.choose__item__content {
  flex-grow: 1;
  width: 49%;
}
@media screen and (max-width: 1023px) {
  .choose__item__content {
    width: 100%;
  }
}
.choose__item__content h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 20px;
}
.choose__item__content p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 40px;
}
.choose__item__content p:has(+ p), .choose__item__content p:has(+ ul), .choose__item__content p:has(+ ol) {
  margin-bottom: 10px;
}
.choose__item__content h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 20px;
}
.choose__item__content ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.choose__item__content ul li {
  display: flex;
  gap: 10px;
  align-items: center;
}
.choose__item__content ul li:before {
  content: "";
  width: 20px;
  height: 20px;
  background: url(../images/marker.svg) center center/cover no-repeat;
}

.choose__item__image {
  overflow: hidden;
  flex-grow: 1;
  padding: 60px 75px;
  width: 40%;
  border-radius: 20px;
  border: 2px solid #252938;
  background-color: #181C27;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1023px) {
  .choose__item__image {
    width: 100%;
  }
}
.choose__item__image img {
  aspect-ratio: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.choose__item__image-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 340px;
  max-height: 340px;
}
.choose__item__image-wrap:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgb(161, 189, 255) 0%, rgb(24, 28, 39) 100%) center center/340px 340px no-repeat;
  opacity: 0.75;
  filter: blur(75px);
}

.choose__item-step {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 15px;
}
.choose__item-step span {
  background-color: #252938;
  border-radius: 500px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.choose__item-step span:nth-of-type(1) {
  padding: 5px 10px;
}
.choose__item-step span:nth-of-type(2) {
  padding: 5px 15px;
}

.choose__scrollBar {
  position: sticky;
  top: 20px;
  right: 0;
  width: 27px;
  height: 501px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.choose__scrollBar span {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.choose__scrollBar span:nth-of-type(1) {
  margin-bottom: 14px;
}
.choose__scrollBar span:nth-of-type(2) {
  margin-top: 14px;
}

.curren {
  overflow: hidden;
  overflow-x: auto;
}

.curren__title {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
  max-width: 700px;
}
.curren__title h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.curren__table {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

.curren__table-row {
  display: flex;
  align-items: center;
  padding: 25px 40px;
  width: 100%;
  gap: 40px;
  background-color: #1E222F;
  display: grid;
  grid-template-columns: 49% 18% 48px 22%;
}

.curren__row__name {
  display: flex;
  align-items: center;
  gap: 30px;
  min-width: 100%;
}
.curren__row__name span {
  display: flex;
  align-items: center;
  gap: 8px;
}

.curren__row__price {
  min-width: 100%;
}

.curren__row-rating {
  min-width: 100%;
}

.curren__row__circulate {
  min-width: 100%;
}/*# sourceMappingURL=style.css.map */